@import "../../../helpers/_helpers.css";

.icons {
  @mixin text;

  width: 100%;

  &__icon {
    @mixin clear;

    box-sizing: border-box;
    padding: 0 $step_2 $step_2 0;
    width: $col_3;
    margin: $step_2 $gap $step_2 0;
    display: inline-block;
    vertical-align: top;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &__author {
    font-size: $font_size_6;
    line-height: $step_3;
    overflow: hidden;
  }
}

@media (max-width: 960px) {
  .icons {
    &__author {
      font-size: $font_size_4;
      line-height: $step_2;
    }
  }
}

@media (max-width: 700px) {
  .icons {
    &__icon {
      width: auto;
      margin-right: 0;
    }

    &__author {
      font-size: $font_size_6;
      line-height: $step_3;
    }
  }
}

@media (max-width: 499px) {
  .icons {
    &__author {
      font-size: $font_size_4;
      line-height: $step_2;
    }
  }
}
