@import "../../../helpers/_helpers.css";

body {
  @mixin text;

  /** @mixin grid; что бы проверить вертикальный ритм **/

  position: relative;
  min-height: 100vh;

  & > svg:first-child {
    position: fixed;
    left: -100px;
    top: -100px;
    width: 0;
    height: 0;
  }
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  flex-basis: 100vh;
  z-index: 1;

  @mixin text;
}

.content {
  @mixin page;

  flex-grow: 1;
  z-index: 1;
}

@media (max-width: 499px) {
  .page {
    display: block;
  }
}

/* @media (max-width: 621px) {
  .page {

  }
} */

/* justify-content: space-between; */

@media (max-width: 989px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

