header.header
    h1.header__logotype 
        a(href="https://moto.courses/")
            include  ../../icon/pug/logotype.pug
        script
            include  ../javascript-inline/logotype.js

        p.header__message Научись
            br
            | обслуживать
            br
            | свой мотоцикл
    a.header__tel(href="tel:+380502773882") +38 (050) 2-77-3-88-2