footer.footer
    p.footer__contacts
        a.footer__contact(href="tel:+380502773882") +38 (050) 2-77-3-88-2
        a.footer__contact(href="mailto:support@moto.courses") support@moto.courses
    p.footer__copyright Содержимое на этом сайте предоставляется по лицензии  
        a(href="https://creativecommons.org/licenses/by/4.0/deed.hi") Creative Commons Attribution 4.0 International
        | . Источник 
        a(href="/website-icons") иконок
        | : The Noun Project.
    include  ../../icon/pug/ukraine.pug