extends ../components/layout/pug/layout.pug
block content
  include  ../components/scene/pug/scene.pug
  include  ../components/abstract/pug/abstract.pug
  //include  ../components/subscription/pug/form.pug
  .checkout__wrapper
    include  ../components/checkout/pug/checkout.pug
    include  ../components/form/pug/form.pug
  include  ../components/subscription/pug/form.pug
block scripts
  script(src="https://js.stripe.com/v3/")
  script(src="javascript/scripts.js", async, defer)