extends ../components/layout/pug/layout.pug
block content
  iframe(src="https://qp.payhub.com.ua/#/payment/13976?iframe=qp&EMAIL=thesilentimp@gmail.com&FIO=Nemtsev%20Anton&PH=+380502773882&amount=500&autoCheck")