extends ../components/layout/pug/layout.pug
block content
    include  ../components/scene/pug/scene.pug
    include  ../components/abstract/pug/abstract.pug
    include  ../components/subscription/pug/success.pug