form.subscription(action="//courses.us15.list-manage.com/subscribe/post?u=9565ba8eb58080cdc820fcb9c&id=15b7379213", method="post")
  h2.subscription__title Оставь адрес электропочты
  p.subscription__message Как только станет известна дата проведения мастер-класса, мы напишем тебе письмо!
  fieldset.subscription__fieldset
    input.subscription__email(type="email", name="EMAIL", value="", placeholder="my.email@gmail.com", required)
  fieldset.subscription__fieldset
    button.subscription__subscribe(type="submit") Напишите мне
