form.subscription(action="//courses.us15.list-manage.com/subscribe/post?u=9565ba8eb58080cdc820fcb9c&id=15b7379213", method="post")
    h2.subscription__title Интересно?
    p.subscription__message Оставь адрес электропочты и, как только станет известна дата проведения мастер-класса, мы напишем тебе письмо!
    fieldset.subscription__fieldset
        input.subscription__email(type="email", name="EMAIL", value="", placeholder="my.email@gmail.com", required)
    fieldset.subscription__fieldset
        button.subscription__subscribe(type="submit") Напишите мне
        p.subscription__error Что то пошло не так
