section.subscription.subscription--success
    h2.subscription__title Ура!
    p.subscription__message Что бы подтвердить подписку отправили тебе письмо. Как только кликнешь по ссылке внутри, мы запишем адрес электропочты и напишем письмо, как только станут известны подробности.