section.subscription.subscription--success
    h2.subscription__title Ещё немножко…
    p.subscription__message Что бы подтвердить подписку отправили тебе письмо. Кликни, пожалуйста, по ссылке внутри.