section.subscription.subscription--success
    h2.subscription__title Ещё немножко…
    p.subscription__message Что бы подтвердить подписку мы отправили тебе письмо. Кликни, пожалуйста, по ссылке внутри.
    a.subscription__agree(href="/") Хорошо, кликну