.form {
  position: relative;
  margin-bottom: 24px;
  display: none;
}

.form * {
  box-sizing: border-box;
}

.form--loading {
  pointer-events: none;
  animation: loading 1s infinite;
}

@keyframes loading {
  from {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  to {
    opacity: 1;
  }
}

.form__submit-button {
  border: none;
  outline: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .025em;
  text-decoration: none;
  transition: all 150ms ease;
  margin-top: 36px;
  cursor: pointer;
}

.form__submit-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  background-color: #43458b;
}

.form__label {
  font-size: 18px;
  color: #6b7c93;
  line-height: 36px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form__input {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
  width: 100%;
  font-size: 16px;
  color: #32325d;
  -webkit-appearance: none;
}

.form__input::placeholder {
  color: #aab7c4;
  font-size: 16px;
}

.form__input:focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
  outline: none;
}

.form__error-message {
  color: #fa755a;
  font-size: 16px;
}

.form__feedback {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 25%;
  right: 25%;
  padding: 20px 36px 20px 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  transition: all 500ms ease-in-out;
  background-color: white;
  opacity: 0;
  transform: translateY(-80px);
}

.form__feedback--visible {
  transform: translateY(0);
  opacity: 1;
}

.form__feedback-message {
  font-size: 16px;
  color: #32325d;
}

.form__close-feedback-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background: transparent;
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

@media screen and (max-width: 599px) {
  .form__feedback {
    left: 0;
    right: 0;
  }
}

