@import "../../../helpers/_helpers.css";

.form {
  position: relative;
  margin-bottom: 24px;
  display: none;
  max-height: 436px;
  transition: max-height .5s ease-in;
  will-change: max-height;
  overflow: hidden;
  padding-bottom: 24px;
}

.form * {
  box-sizing: border-box;
}

.form--loading {
  pointer-events: none;
  animation: loading 1s infinite;
}

.form--hidden {
  max-height: 0;
  padding: 0;
  margin: 0;
}

@keyframes loading {
  from {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  to {
    opacity: 1;
  }
}

.form__submit-button {
  @mixin button;

  display: inline-block;
  width: auto;
  vertical-align: middle;
  position: relative;
  text-transform: uppercase;
  transition: background-color .25s, transform .25s;
  margin-top: 36px;

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 100%;
    left: $step_1;
    border-style: solid;
    border-width: $step_1 $step_1 0 0;
    border-color: color($color_blue l(-5%)) transparent transparent;
    transition: border-color .25s;
  }

  &:focus::after,
  &:hover::after {
    border-color: color($color_blue l(+5%)) transparent transparent;
  }

  &:active {
    transform: scale(.95);
  }
}

.form__label {
  font-size: 18px;
  color: #6b7c93;
  line-height: 36px;
}

.form__label--checkbox {
  order: 1;
  margin-left: 12px;
  font-size: 12px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form__fieldset--checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 0;
}

.form__input {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
  width: 100%;
  font-size: 16px;
  color: #32325d;
  -webkit-appearance: none;
}

.form__input::placeholder {
  color: #aab7c4;
  font-size: 16px;
}

.form__input:focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
  outline: none;
}

.form__error-message {
  color: #fa755a;
  font-size: 16px;
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

@media screen and (max-width: 599px) {
  .form__feedback {
    left: 0;
    right: 0;
  }
}

