.social
  h2.social__title Расскажи про нас 
  nav.social__links
    | в 
    a.social__link(target="_blank", href="http://twitter.com/intent/tweet?url=https://moto.courses/&text=Научись обслуживать свой мотоцикл") Twitter
    |  или 
    a.social__link(target="_blank", href="http://www.facebook.com/sharer/sharer.php?u=https://moto.courses/&t=Научись обслуживать свой мотоцикл") Facebook
    | .