section.abstract
    h2.abstract__title Мы научим:
    ol.abstract__contents
        li.abstract__chapter.abstract__chapter--current(data-target="oil") Заменять масляный фильтр
        li.abstract__chapter(data-target="breaks") Заменять тормозную жидкость и прокачивать тормоза
        li.abstract__chapter(data-target="air") Заменять воздушный фильтр
