@import "../../../helpers/_helpers.css";

.icons {
    width: 100%;
    @mixin text;

    &__icon {
        box-sizing: border-box;
        padding: 0 $step_2 $step_2 0;
        width: $col_3;
        margin: $step_2 $gap $step_2 0;
        display: inline-block;
        vertical-align: top;
        @mixin clear;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    &__author {
        font-size: $font_size_6;
        line-height: $step_3;
        overflow: hidden;
    }
}

.icon {
    &--list {
        width: $step_6;
        height: $step_6;
        float: left;
        margin-right: $step_2;
    }

    &--made-in-ukraine {
        width: $step_6;
        height: $step_6;
        position: absolute;
        top: $step_2;
        right: $step_4;
    }

    &--logotype {
        width: $step_6;
        height: $step_6;
        padding: 18px;
        margin-right: $step_2;
        float: left;
    }
}

@media (max-width: 960px) {
    .icons {
        &__author {
            font-size: $font_size_4;
            line-height: $step_2;
        }
    }
    .icon {
        &--list {
            width: $step_4;
            height: $step_4;
        }
    }
}

@media (max-width: 700px) {
    .icons {
        &__icon {
            width: auto;
            margin-right: 0;
        }

        &__author {
            font-size: $font_size_6;
            line-height: $step_3;
        }
    }
    .icon {
        &--list {
            width: $step_6;
            height: $step_6;
        }
    }
}

@media (max-width: 499px) {
    .icons {
        &__author {
            font-size: $font_size_4;
            line-height: $step_2;
        }
    }

    .icon {
        &--list {
            width: $step_4;
            height: $step_4;
        }
        &--made-in-ukraine {
            width: $step_4;
            height: $step_4;
            top: 0;
            right: $step_2;
        }
        &--logotype {
            width: $step_4;
            height: $step_4;
            margin-right: $step_2;
            padding: 12px 0;
        }
    }
}