section.icons
  section.icons__icon
    svg(viewbox="0 0 48 48", class="icon icon--list")
      use(xlink:href="#trench")

    p.icons__author
      | Created by David Swanson
      br
      | from the Noun Project

  section.icons__icon
    svg(viewbox="0 0 48 48", class="icon icon--list")
      use(xlink:href="#airfilter")

    p.icons__author
      | Created by Martin Hofmann
      br
      | from the Noun Project

  section.icons__icon
    svg(viewbox="0 0 48 48", class="icon icon--list")
      use(xlink:href="#rearbrakes")

    p.icons__author
      | Created by Clement Branger
      br
      | from the Noun Project

  section.icons__icon
    svg(viewbox="0 0 48 48", class="icon icon--list")
      use(xlink:href="#frontbrakes")

    p.icons__author
      | Created by Clement Branger
      br
      | from the Noun Project

  section.icons__icon
    svg(viewbox="0 0 48 48", class="icon icon--list")
      use(xlink:href="#gas")

    p.icons__author
      | Created by Alex Ahineev
      br
      | from the Noun Project

  section.icons__icon
    svg(viewbox="0 0 48 48", class="icon icon--list")
      use(xlink:href="#screwdriver")

    p.icons__author
      | Created by useiconic.com
      br
      | from the Noun Project

  section.icons__icon
    svg(viewbox="0 0 48 48", class="icon icon--list")
      use(xlink:href="#wrench")

    p.icons__author
      | Created by Julien Meysmans
      br
      | from the Noun Project

  section.icons__icon
    svg(viewbox="0 0 48 48", class="icon icon--list")
      use(xlink:href="#ukraine")

    p.icons__author
      | Created by Yaroslav Birzool
      