@import "../../../helpers/_helpers.css";

#payment-request-button {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

.checkout .form__fieldset--checkbox {
  margin-top: 0;
}

.checkout__wrapper {
  width: $col_3;
  margin: $step_2 0 $step_4;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
}

.checkout__skus {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.checkout__button,
.checkout__button-buy-more {
  @mixin button;

  display: none;
  width: auto;
  vertical-align: middle;
  position: relative;
  text-transform: uppercase;
  transition: background-color .25s, transform .25s;

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 100%;
    left: $step_1;
    border-style: solid;
    border-width: $step_1 $step_1 0 0;
    border-color: color($color_blue l(-5%)) transparent transparent;
    transition: border-color .25s;
  }

  &:focus::after,
  &:hover::after {
    border-color: color($color_blue l(+5%)) transparent transparent;
  }

  &:active {
    transform: scale(.95);
  }
}
