@import "../../../helpers/_helpers.css";

#payment-request-button {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

.checkout__skus {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.checkout__button {
  display: none;
  border: none;
  outline: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  height: 36px;
  line-height: 36px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .025em;
  text-decoration: none;
  transition: all 150ms ease;
  margin-top: 36px;
  cursor: pointer;
}

.checkout__button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  background-color: #43458b;
}
