@import "../../../helpers/_helpers.css";

#payment-request-button {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

.checkout {
  margin: 0 0 24px;
}

.checkout__skus {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
