@import "../../../helpers/_helpers.css";

.social {
  margin: $step_2 0 0;

  @media (min-width: 989px) {
    margin: $step_2 0 $step_4;
  }

  @media (min-width: 621px) and (max-width: 989px) {
    order: 1;
  }

  &__title {
    @mixin header;
  }

  &__links {
    @mixin text;
  }

  &__link {
    color: $color_black;

    &:hover {
      text-decoration: none;
      color: $color_blue;
    }
  }
}

